*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.caja{
width: 200px;
height: 200px;
text-align: center;
text-transform: uppercase;

}
.rojo{
background-color: red;
}
.verde{
background-color: green;
}
.amarillo{
background-color: yellow;
}
.azul{
background-color: blue;
}
.rosa{
background-color: rgb(224, 164, 164);
}
.texto{
background-color: turquoise;
margin: 20px;
}
.contenedor{
display: flex;
}